<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %> - <%= APP_CONFIG[:project_name] %></title>
    <%= stylesheet_link_tag 'style', :media => 'all' %>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" type="image/x-png" href="/images/favicon.ico" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19618497-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="wrapper">
    <div id="header">
      <!-- <h1 class="right"><%= APP_CONFIG[:project_name] %></h1> -->
      <ul class="right">
        <li><a href="<%= url_for :locale => 'cat' %>">Català</a></li>
        <li><a href="<%= url_for :locale => 'da' %>">Dansk</a></li>
        <li><a href="<%= url_for :locale => 'de' %>">Deutsch</a></li>
        <li><a href="<%= url_for :locale => 'es' %>">Español</a></li>
        <li><a href="<%= url_for :locale => 'eus' %>">Euskara</a></li>
        <li><a href="<%= url_for :locale => 'en' %>">English</a></li><br />
        <li><a href="<%= url_for :locale => 'fr' %>">Français</a></li>
        <li><a href="<%= url_for :locale => 'gl' %>">Galego</a></li>
        <li><a href="<%= url_for :locale => 'gr' %>">Ελληνικά</a></li>
        <li><a href="<%= url_for :locale => 'it' %>">Italiano</a></li>
        <li><a href="<%= url_for :locale => 'pl' %>">Polski</a></li>
        <li><a href="<%= url_for :locale => 'pt' %>">Português</a></li>
      </ul>
      <h1><a href="/"><%= APP_CONFIG[:project_name] %></a></h1>
    </div><!-- header -->
    <ul id="nav">
      <li><a href="/"><%= t(:home) %></a></li>
      <li><%= link_to t(:send_message), message_path %></li>
      <li><%= link_to t(:integration), integrate_path %></li>
      <li><%= link_to t(:stats), stats_path %></li>
    </ul>
    <ul class="nav_right">
      <li>
				<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>	
        <iframe src="http://www.facebook.com/plugins/like.php?href=http://sahararights.net/&amp;layout=button_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
      </li>
    </ul>
    <div class="clear" />
    <div id="content">
      <%= yield %>
    </div><!-- content -->
    <div id="footer">
      <p><%= t(:developed_by) %> Isaac Hacksimov.<br />
      <%= t(:licensed_under) %> <%= link_to "GNU Affero", "http://www.gnu.org/licenses/agpl.html" %>. <%= link_to t(:git_repo), 'https://github.com/apardo/sahara' %>.</p>
    </div>
  </div>
  </body>
</html>

